@font-face {
    font-family: "Font";
    src: url(Utendo-Medium.ttf);
}

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

body {

display: flex;
color: whitesmoke;
background-color: #242f35;
margin-right: 9em ;
padding: 1em;
font-family: Font;

}

img {
    height: 600px;
    width: 350px;
    margin-left: 10em;
    margin-top: 1.5em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav {

display: grid;
grid-row-gap: 1em;
grid-template-columns: 1fr 1fr;
min-width: 24em;
grid-auto-rows:max-content ;

}

h1 {

    font-size: 2.2em ;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 1.5em;
    margin-left: 3em;
    grid-column: 1/-1;
}

h2 {

    font-size: 1.5em;
    font-weight: 800;
    color: #9f9d8e;
    text-align: center;
    margin-bottom:3em;
    margin-left: 5em;
    grid-column: 1/-1;
}

ul {
    margin: 0;
    padding: 0;
    white-space:nowrap;
    list-style-type:none ;

}

li{
    line-height: 1.4em;
    margin-left: 4,8em;

}

li:first-child {
  display: inline-block;
  color: #9f9d8e;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  line-height: 2em;
  margin-left: 4.5em;
}

a {
  color: #617888;
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 6.4em;
  font-size: 800;
}

a:hover {
  color: #7faac8;
  font-style: italic;
}
